body{
    background-color:#f0f3f4;
}

.logo{
    height: 50px;
    margin-left:50px;
}

#mapa
{
    position:relative;
    left: 16px;
    top: -25px;

}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 18;
}
.col-md-12{
 top:75px;   
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
 .navbar-default .navbar-nav>.active>a:focus {
    color: black;
    background-color: #e7e7e7;
}
.navbar-default .container-fluid .navbar-header>a:hover,
.navbar-default .container-fluid .navbar-header>a:focus { 
    background-color: #2c2c2c
}

.sidebar-form {   
    border: 0px solid #555;
}

.sidebar-form .btn {
    color: #f7f7f7;}

.col-md-6 .container-fluid >p{
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 25px;
    color: black;
}



.carousel-inner > .item > img,
.carousel-inner> .item > a > img {
      width: 600px;
      height: 300px;
      margin: 0;
  }
.item{
height: 300px;
  }

.col-md-3 > .container-fluid > .fluid > img,
.col-md-3> .container-fluid > a > .fluid > img{
      width: 274px;
      height: 200px;
      margin: 0;
  }
.fluid{
height: 300px;width:  300px;
  }

.navbar-left >.activo >li >a{
    background-color:#666;
    color:white;
}

.navbar-left >ul >li >a{
color:black;
}

.col-md-6 .container-fluid >p{
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 25px;
    color: black;
}


a:link{   
 text-decoration:none;   
}   
.container-fluid> p, .container-fluid a> p{
    background-color: white;
    margin: 0px;
    }
.col-md-12 .container-fluid .col-md-3 .row .col-md-3{

    text-align: center;
    
}
.col-md-3 .container-fluid a >p{
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 25px;
    color: black;
}


@media screen and (max-width:980px) {
        
        img{
            width: auto;
            height: auto;
        }

        .col-md-12, .col-md-6, .col-md-3{
            height: auto;
            width: auto;
        height: auto;
        margin: 10px;
        margin-left: auto;
        }

    }
@media screen and (max-width:768px) {
    .navbar{
        background-color: #2c2c2c;
    }
    .col-md-6, .col-md-3, .col-md-12{margin-left: auto;margin: 10px;}
    .navbar-collapse{width: auto;position: fixed;bottom: auto;}
}